__pycache__/
variable_precision.py
HolonomyGroupAP.py
cosinenorms.py
fivetwocalculations.py
fivetwosurgeries
symbolicFiveTwoResidueChars.txt
twistknotcharactervarieties.py
Zannier_tests.py
large_knots.py
*.ipynb