__pycache__/
variable_precision.py
HolonomyGroupAP.py
cosinenorms.py
fivetwocalculations.py
fivetwosurgeries
symbolicFiveTwoResidueChars.txt
twistknotcharactervarieties.py
Zannier_tests.py
large_knots.py
overflow.py
snap_translator.py
arithmetic_homology_spheres*
*.ipynb
*.json
*.shelve